<footer class="footer">
<div class="btn-footer"><a href="#" title="Go to top"><img src="./assets/images/ico-arrow.svg" alt="Go to top" title="Go to top"></a></div> <!-- MIRAR ARIA -->

<div class="footer-flex">
    <nav class="footer-main-menu">
        <ul>
            <li><a href="https://adalab.es" title="Articles">Articles</a></li>
            <li><a href="https://adalab.es" title="Books">Books</a></li>
            <li><a href="https://adalab.es" title="Events">Events</a></li>
            <li><a href="https://adalab.es" title="Reasons">Reasons</a></li>
            <li><a href="https://adalab.es" title="Tips">Tips</a></li>
        </ul>
    </nav>

    <nav class="footer-social-menu">
        <ul>
            <li><a href="https://adalab.es" title="Twitter">Twitter</a></li>
            <li><a href="https://adalab.es" title="Instagram">Instagram</a></li>
            <li><a href="https://adalab.es" title="Mastodon.social">Mastodon.social</a></li>
        </ul>
    </nav>

    <div class="footer-page-info">
        <p>©2017</p>
        <p>we <span class="footer-heart">❤︎</span> components</p>
    </div>
</div>
</footer>