<header class="header">
    <div class="burger-icon"><a href="https://adalab.es" target="_blank" title="Go to Adalab web" aria-label="Go to Adalab web"><img src="./assets/images/ico-menu.svg" alt="Menu" title="Menu"></a></div>
    <div class="hero container">
        <section class="header-1"></section>
        <section class="header-2">
        <h1 class="h1-header">Anonymous Proxy</h1>
        <h2 class="h2-header">In hac habitasse platea dictumst.</h2>
        <a href="#purchase" title="Go to 3 reasons to purchase"><button class="btn-header">
            <img src="./assets/images/ico-scroll-down.svg" alt="Scroll down" title="Scroll down" class="btn-header-img"></button></a>
    </section>
    </div>
</header>
