<main class="main">
    <div class="container-left">
        <section class="section-tips">
            <small>Insomnia tips</small>
            <h3 class="h3-main">Looking through a window</h3>
            <p class="p-content">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
            <button class="btn-article"><a href="#" title="Go to the article">Go</a></button>
        </section>
    </div>

    <div class="container">
        <section class="section-purchase" id="purchase"><h3 class="h3-main">3 reasons to purchase</h3>

            <div class="section-grid">
                <div class="purchase-item1">
                    <h4 class="h4-main">Ut sed metus</h4>
                        <p>Lorem ipsum dolor sit amet, consecteur.</p>
                </div>

                <div class="purchase-item2">
                    <h4 class="h4-main">Curabitur ac erat</h4>
                        <p>Mauris mattis urna quis lorem molestie.</p>
                </div>

                <div class="purchase-item3">
                    <h4 class="h4-main">Morbi dictum</h4>
                        <p>Aliquam in dolor et dolor tincidunt.</p>
                </div>
            </div>

            <button class="btn-purchase"><a href="#" title="More reasons">More reasons</a></button>
                </section>
            </div>
</main>
