<main class="main">
    <div class="container-left">
        <section class="main--articles">
            <article class="main--articles__item">
                <small>Insomnia tips</small>
                <h3 class="main--h3">Looking through a window</h3>
                <p class="main--articles__p">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
                <a href="#" title="Go to the article"><button class="main--articles__btn" aria-label="Go to the article">Go</button></a>
            </article>
        </section>
    </div>

    <div class="container">
        <section class="main--purchase" id="purchase">
            <h3 class="main--h3">3 reasons to purchase</h3>

            <div class="main--purchase__grid">
                <div class="purchase--item1">
                    <h4 class="main--h4">Ut sed metus</h4>
                        <p class="purchase--grid__p">Lorem ipsum dolor sit amet, consecteur.</p>
                </div>

                <div class="purchase--item2">
                    <h4 class="main--h4">Curabitur ac erat</h4>
                        <p class="purchase--grid__p">Mauris mattis urna quis lorem molestie.</p>
                </div>

                <div class="purchase--item3">
                    <h4 class="main--h4">Morbi dictum</h4>
                        <p class="purchase--grid__p">Aliquam in dolor et dolor tincidunt.</p>
                </div>
            </div>

            <a href="#" title="Go to more reasons"><button class="main--purchase__btn" aria-label="Go to purchase">More reasons</button></a>
                </section>
            </div>
</main>
