<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Anonymous Proxy</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <div class="page">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
