.footer {
    background-color: $footerBgColor;

    .btn-footer {
        display: block;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);

        img {
            padding-top: 25%;
        }
    }
}

.footer-flex {
    font-family: $mainFont;
    color: $headerColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 45px 0;

    @include forTablet {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        text-align: left;
    }

        @include forPc {
        padding: 45px 370px;
        
    }
    
    .footer-main-menu, .footer-social-menu {
        text-transform: uppercase;
        line-height: 30px;
        
        a {
            color: $headerColor;

            &:hover, &:focus {
                border-bottom: solid 1px $btnColor;
            }
        }
    }

    .footer-page-info {
        font-size: $smallContent-mb;

        p {
            line-height: 1;
        }

        .footer-heart {
            color: $btnColor;
        }
    }
}