.header {
    width: 100vw;
    height: 100vh;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $titleFont;
    color: $headerColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .header--burger {
        background-color: $btnBurger;
        width: 44px;
        height: 44px;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 30%;
        }
    }

    &--top {
        height: 50vh;
    }

    &--bottom {
        height: 50vh;
    }

    .header--h1 {
        text-transform: uppercase;
        font-size: $titleSize-mb;
        line-height: 55px;
        margin-bottom: 0;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        

        @include forTablet {
            font-size: $titleSize-tb;
            line-height: 106px;
        }

        @include forPc {
            font-size: $titleSize-dk;
            line-height: 132px;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            padding: 0 275px;
        }
    }

    .header--h2 {
        font-family: $mainFont;
        font-size: $secondTitle-mb;
        margin-top: 0;
        padding: 15px 0 30px 0;
        font-weight: lighter;

        @include forTablet {
            font-size: $secondTitle-tb;
            padding: 20px 0;
        }

        @include forPc {
            padding: 0 0 1% 0;
        }
    }

    .header--btn {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: none;
        background-color: $headerColor;
        padding-top: 1%;

        @include forTablet {
            padding-top: 0.5%;
        }

        @include forPc {
            padding-top: 0.2%;
        }

        &:hover, &:focus, &:active {
            border-radius: 20%;
            background-color: transparent;
            border: dashed 3px $headerColor;
            transition: all 0.2s linear;
        }
    }
}