.header {
    width: 100vw;
    height: 100vh;
    background-image:url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: $titleFont;
    color: $headerColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .burger-icon {
        background-color: $btnBurger;
        width: 44px;
        height: 44px;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-1 {
        height: 50vh;
    }

    &-2 {
        height: 50vh;
    }

    .h1-header {
        text-transform: uppercase;
        font-size: $titleSize-mb;

        @include forTablet {
            font-size: $titleSize-tb;
            line-height: 106px;
        }

        @include forPc {
            font-size: $titleSize-dk;
            line-height: 132px;
        }
    }

    .h2-header {
        font-family: $mainFont;
        font-size: $secondTitle-mb;
        letter-spacing: 0.5px;

        @include forTablet {
            font-size: $secondTitle-tb;
        }

    }

    .btn-header {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: $headerColor;
        padding-top: 1%;
        margin-top: 45px;
    }
}