.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p { // All common styles in the paragraphs within the main section.
        font-size: $mainContent-mb;
        color: $secondaryColor;

        @include forTablet {
            font-size: $mainContent-tb;
        }
    }

    .main--h3 {
        font-family: $titleFont;
        font-size: $sectionTitle-mb;
        line-height: 30px;
        margin: 0;
        text-transform: capitalize;

        @include forTablet {
            font-size: $sectionTitle-tb;
        }

        @include forPc {
            font-size: $sectionTitle-dk;
        }
    }

    .main--articles {
        // padding: 0 15px; To add more air in the box for bigger mobile devices if needed.

        @include forTablet {
        padding: 0 39px;       
        }

        @include forPc {
        padding: 0 275px;
        }

        small { // This part is common to all articles.
            font-family: $mainFont;
            font-size: $smallContent-mb;
            color: $smallColor;
            display: inline-block;
            padding: 2% 0;
            text-transform: capitalize;

            @include forPc {
                font-size: $smallContent-pc;
            }
        }

        .main--articles__p {
            margin-bottom: 0;

            @include forTablet {
                margin-top: 0;
                padding-top: 30px;
            }
        }
    

        .main--articles__btn {
            width: 76px;
            height: 45px;
            border-radius: 22.5px;
            border: solid 2px $btnColor;
            background-color: $headerColor;
            color: $btnColor;
            font-family: $mainFont;
            font-size: $btnSize;
            margin-top: 30px;

                a {
                    color: $btnColor;
                    display: block;
                    width: 100%;
                    padding: 5% 0;
                
                    &:hover, &:focus {
                        color: $headerColor;
                        width: 100%;
                    }
                }

                &:hover, &:focus {
                    background-color:$btnColor;
                    color: $headerColor;
                    transition: all 0.3s linear;
                }

                @include forTablet {
                    width: 91px;
                }

                @include forPc {
                    width: 160px;
                }
        }
        
    }

    .main--purchase {
        margin: 0;
        width: 100vw;
        background-color: $purchaseSectionBg;
        padding: 35px 0 60px 0;

        @include forPc {
            padding: 70px 0;
        }

        .main--h4 {
            font-family: $titleFont;
            font-size: $mainContent-mb;
            line-height: 30px;
            margin: 0;

            @include forTablet {
                font-size: $sectionTitle-mb;
                padding-bottom: 14px;
            }
        }

        .purchase--grid__p {
            margin: 0 0 45px 0;
            color: $primaryColor;

            @include forTablet {
                margin: 0 0 60px 0;
            }
        }

        .main--purchase__grid {
            padding:45px 70px 0px 70px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            
            .purchase--item1 {
                grid-row: 1/2;
                margin-top: 0;
            }

            .purchase--item2 {
                grid-row: 2/3;
            }

            .purchase--item3 {
                grid-row: 3/4;
            }

            @include forTablet {
                padding: 45px 30px 0px 30px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                grid-gap: 8%;
            
                .purchase--item1 {
                    grid-column: 1/2;
                    grid-row: 1/1;
                }
    
                .purchase--item2 {
                    grid-column: 2/3;
                    grid-row: 1/1;
                }
    
                .purchase--item3 {
                    grid-column: 3/4;
                    grid-row: 1/1;
                }
            }

            @include forPc {
                padding: 45px 80px 0px 80px;
            }
        }

        .main--purchase__btn {
            width: 184px;
            height: 45px;
            border-radius: 22.5px;
            border: none;
            background-color:$btnColor;
            color: $headerColor;
            font-family: $mainFont;
            font-size: $btnSize;

                a {
                    color: $btnColor;
                    display: block;
                    width: 100%;
                    color: $headerColor;
                    
                    &:hover, &:focus {
                        color: $btnColor;
                        width: 100%;
                    }
                }

                &:hover {
                    background-color: $headerColor;
                    color: $btnColor;
                    transition: background-color 0.3s linear;
                }

                @include forTablet {
                    width: 210px;
                }

                @include forPc {
                    width: 255px;
                }
        }
    }
}