html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin: auto;
}

.container-left {
    text-align: left;
    padding: 30px 15px 45px 15px;

    @include forPc {
        padding: 60px 0px 60px 0px; 
    }
}

p {
    font-family:$mainFont;
    line-height: 30px;
}

button {
    cursor: pointer;
}