// Colors
$headerColor: #fff;
$primaryColor: #000;
$secondaryColor: #4a4a4a;
$btnColor: #f26002;
$btnBurger: #0271bc;

// Fonts & font sizes
$titleFont: 'Roboto Slab';
$mainFont: 'Roboto';
$titleSize-sm: 42px;
$secondTitle-sm: 16px;

