// Colors
$headerColor: #fff;
$primaryColor: #000;
$secondaryColor: #4a4a4a;
$btnColor: #f26002;
$btnBurger: #0271bc;
$purchaseSectionBg: #eff9ff;
$smallColor: #8ccbea;
$footerBgColor: #304268;

// Typography
$titleFont: 'Roboto Slab';
$mainFont: 'Roboto';

// Font sizes
$titleSize-mb: 42px;
$titleSize-tb: 80px;
$titleSize-dk: 100px;
$secondTitle-mb: 16px;
$secondTitle-tb: 24px;
$mainContent-mb: 18px;
$mainContent-tb: 20px;
$sectionTitle-mb: 24px;
$sectionTitle-tb: 26px;
$sectionTitle-dk: 32px;
$smallContent-mb: 14px;
$smallContent-pc: 16px;
$btnSize: 20px;

// Device sizes
$tablet: 768px;
$pc: 1200px;

